<template>
<div>
    <Navbar />
  <h2>Daftar Makanan Ringan</h2>
  </div>
</template>

<script>
// @ is an alias to /src
import Navbar from '@/components/Navbar.vue'

export default {
  name: 'Snack',
  components: {
    Navbar
  }
}
</script>

<style>
</style>