<template>
  <div class="row mt-4">
      <div class="col">
          <div class="d-flex h-100">
              <div class="justify-content-center align-self-center">
                  <h2><strong>Delicious Snack Menu,</strong><br> for make your good mood.</h2>
                  <p>"Join with Arion for mood better"</p>
                  <button class="btn btn-lg btn-purple"><b-icon-arrow-right></b-icon-arrow-right> Order Now</button>
              </div>
          </div>
      </div>
      <div class="col">
          <img src="../assets/image/hero_2.png" width="100%"/>
      </div>
  </div>
</template>

<script>
export default {
    name : 'Hero'
}
</script>

<style>

</style>